body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
}

a {
    text-decoration: none;
}
ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
div{
    display:block
    box-sizing: border-box;
}

.container {width: 1158px;
    margin: 0 auto;
    padding: 0 15px
} 

.header { border-bottom: 1px solid #e7e9fc
}
.hdr-logo {
    display:flex;
    align-items: center;
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-bg {
    display : flex;
    background-color: #f4f4fd;
    padding-top: 20px;
    padding-bottom: 20px;
}
.header-nav {
    display:flex;
    align-items: center;
    gap: 40px;
}

.logo-accent {
    color: #2e2f42;
}

.menu-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}
.menu-list {
    display:flex;
    align-items: center;
    gap: 40px;
    margin-left: 76px;
    padding: 24px 0
}

.header-contacts {
    display:flex;
    align-items: center;
    font-style: normal;
}

.contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}
.contacts-list {
    display:flex;
    align-items: center;
    gap: 40px;
    margin-right: 0 auto;
}
.hero {
    background-color: #2e2f42;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.hero-button {
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

.features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team {
    background-color: #f4f4fd;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-item {
    background-color: #ffffff;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-position {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-category {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2e2f42;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

footer .logo-acnt {
    color: #f4f4fd;
}

.footer-text {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
}